# Arquivos gerados pelo Jupyter Notebook
.ipynb_checkpoints/


# Arquivos de saída do Julia
*.jl~

# Arquivos de saída do Bash
*.sh~

# Arquivos de cache do Julia (pode variar dependendo das configurações)
*.julia/

# Arquivos de resultados (por exemplo, arquivos .html ou .pdf) gerados a partir dos notebooks
*.html
*.pdf

# Logs e saídas de compilação
*.log
*.out

# Arquivos Markdown renderizados (se você não deseja versioná-los)
*.md.html
